<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/" 
         xsi:schemaLocation="http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_1.xsd" 
         version="3.1">

  <display-name>FantasyFootball</display-name>

   <servlet>
      <description></description>
      <display-name>Fantasy</display-name>
      <servlet-name>Fantasy</servlet-name>
      <servlet-class>com.ilmservice.fantasyfootball.FantasyFootballServlet</servlet-class>
   </servlet>
   <!--  
   <servlet-mapping>
      <servlet-name>Fantasy</servlet-name>
      <url-pattern>/Fantasy</url-pattern>
   </servlet-mapping>
   -->

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>HelloWorld.jsp</welcome-file>
  </welcome-file-list>
</web-app>
