<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

   <display-name>ILM FantasyFootball</display-name>

   <servlet>
      <description></description>
      <display-name>Fantasy</display-name>
      <servlet-name>Fantasy</servlet-name>
      <servlet-class>com.ilmservice.fantasyfootball.FantasyFootballServlet</servlet-class>
   </servlet>
   <!--  
   <servlet-mapping>
      <servlet-name>Fantasy</servlet-name>
      <url-pattern>/Fantasy</url-pattern>
   </servlet-mapping>
   -->

    <!-- Instead of...: http://localhost:8080/ILMServices-FantasyFootball/jsp/HelloWorld.jsp 
         ...also provide option of accessing this page in browser via: http://localhost:8080/ILMServices-FantasyFootball/ChooseWeek -->
    <servlet>
        <servlet-name>ffball</servlet-name>
        <jsp-file>/jsp/HelloWorld.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ffball</servlet-name>
        <url-pattern>/ChooseWeek</url-pattern>
    </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
